<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Puissance 4</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  {{if eq .Winner "Égalité"}}
  <div class="draw-banner">
    🤝 Match nul ! La grille est pleine.
  </div>
{{else if .Winner}}
  <div class="winner-banner">
    🎉 Victoire de {{.Winner}} ! 🎉
  </div>
{{else}}
  <h1>Tour de : {{if eq .Turn 0}}{{.Player1}}{{else}}{{.Player2}}{{end}}</h1>
{{end}}



  <table class="grid">
    <!-- Ligne des boutons -->
    <tr>
      {{range $j := seq 0 6}}
        <td>
          <form method="POST" action="/play">
            <input type="hidden" name="column" value="{{$j}}">
            <button class="cell-button" type="submit">↓</button>
          </form>
        </td>
      {{end}}
    </tr>

    <!-- Grille de jeu -->
    {{range $i, $row := .Grid}}
      <tr>
        {{range $j, $cell := $row}}
          <td class="cell {{ $cell }}"></td>
        {{end}}
      </tr>
    {{end}}
  </table>
</body>
</html>
